.reveal h1 {
  font-size: 2em;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal pre {
  font-size: 0.5em;
}

.reveal pre code {
  max-height: 450px;
}

.logo {
  width: 120px;
}

